services:
  prometheus:
    image: prom/prometheus:latest
    container_name: perf_prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --web.enable-remote-write-receiver
      - --enable-feature=native-histograms
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: perf_grafana
    ports:
      - "3300:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
    volumes:
      - ./grafana-provisioning:/etc/grafana/provisioning
      - ./grafana-dashboard:/var/lib/grafana/dashboards
    depends_on:
      - prometheus
    networks:
      - monitoring
  k6:
    build:
      context: .
      dockerfile: Dockerfile.k6
    container_name: perf_k6
    ports:
      - "5665:5665" # xk6 전용 대시보드
    networks:
      - monitoring

networks:
  monitoring:
    driver: bridge
