spring:
  config:
    import: optional:file:.env.properties
  profiles:
    active: local
  output:
    ansi:
      enabled: always
  jpa:
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100
    hibernate:
      ddl-auto: update
    show-sql: true
  mvc:
    hiddenmethod:
      filter:
        enabled: true
  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    org.springframework.security: WARN
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.orm.jdbc.extract: TRACE
    org.springframework.transaction.interceptor: TRACE
    com.back: DEBUG

springdoc:
  swagger-ui:
    tags-sorter: alpha
    operations-sorter: method
  default-produces-media-type: application/json
  default-consumes-media-type: application/json

custom:
  jwt:
    secret: ${JWT_SECRET}
    access-token-duration: ${JWT_ACCESS_TOKEN_DURATION:3600}
    refresh-token-duration: ${JWT_REFRESH_TOKEN_DURATION:1209600}

  dev:
    domain: localhost
    back-url: "http://${custom.dev.domain}:${server.port}"
    front-url: "http://${custom.dev.domain}:3000"
  prod:
    domain: api.mmm3.click
    back-url: "https://api.${custom.prod.domain}"
    front-url: "https://www.${custom.prod.domain}"
  site:
    domain: "${custom.dev.domain}"
    back-url: "${custom.dev.backUrl}"
    front-url: "${custom.dev.frontUrl}"